<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927706436750-8enudjnb7rhjnnp570nj6itojv1l07i0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927706436750-8enudjnb7rhjnnp570nj6itojv1l07i0</string>
	<key>API_KEY</key>
	<string>AIzaSyCVrHHjUVcbA198dJcOlJ832gAoYPj7rUg</string>
	<key>GCM_SENDER_ID</key>
	<string>927706436750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doflutter</string>
	<key>PROJECT_ID</key>
	<string>fir-auth-test-b440a</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-auth-test-b440a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:927706436750:ios:597a6b8127030ea7</string>
	<key>DATABASE_URL</key>
	<string>https://fir-auth-test-b440a.firebaseio.com</string>
</dict>
</plist>
